* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    background-image: url(./images/montanas-minimalista-arte-low-poly_3840x2160_xtrafondos.com.jpg);
}

.patern {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20vh;
    /* border: 2px blue dotted; */
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px black solid; */
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: -20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 3.5rem;
    color: whitesmoke;
    background-color: #a5a58d;
    border: 1px #03071e solid;
    border-radius: 10px 10px 80px 80px;
    padding: 10px;
    width: 500px;
}

.title-box img{
    display: flex;
    width: 25%;
}

.title-box p:hover{
    color: #590d22;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 1.8rem;
    color: whitesmoke;
    width: 900px;
    background-color: #590d22;
    padding: 25px 85px;
    border: 1px white solid;
    border-radius: 25px;
}

.content .ow{
    position: absolute;
    top: 20px;
    right: 690px;
    width: 80px;
}

.content .ow2{
    position: absolute;
    top: 20px;
    right: 1105px;
    width: 80px;
}