* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    background-color: #121212;
}

.patern {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Parte alta del box*/
.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: -20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 3.5rem;
    color: whitesmoke;
    background-color: #a5a58d;
    border: 1px #03071e solid;
    border-radius: 10px 10px 80px 80px;
    padding: 10px;
    width: 62rem;
}

.title-box p {
    font-weight:bolder;
    color: #590d22;
}

/* Borde animado del title-box*/
.animate-bg:before, .animate-bg:after {
    content: '';
	position: absolute;
    top: -5px;
	background: linear-gradient(120deg, #12be4c, #8d01a0, #031ba5,#c20303,  
	#590d22, #fb0094,#ff6600, #04c2e4);
	background-size: 500%;
    width: 102%;
    height: 105%;
	z-index: -1;
    border-radius: 10px 10px 80px 80px;
	animation: BGgradient 35s ease infinite; 
}

@keyframes BGgradient {
	0% {
		background-position: 0% 250%;
	}
	50% {
		background-position: 250% 0%;
	}
	100% {
		background-position: 0% 500%;
	}
}

/* Fotografias de perfil */
.images {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.images img{
    width: 22%;
}

/*Iconos del centro */
.images .iconos {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 35%;
    top: 22%;
}

.images .iconos img{
    width: 40%;
    margin: 0 -8px 0 -8px;
}

.images #htmlTop{
    display: flex;
    position: absolute;
    width: 32%;
    top: -22%;
}

.images #cssLeft {
    width: 38%;
}


/*Caja con menu*/
.content {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: whitesmoke;
    background-color: #590d22;
    padding: 25px 50px;
    border: 4px white solid;
    border-radius: 25px;
    width: 55%;
}

.menu {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: 2px white solid;
}

.menu .submenu{
    display: flex;
    justify-content: space-around;
}

.menu .submenu .submenu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 10px 20px;
    padding: 5px;
}

/* Texto Strong */
.submenu__item__click .submenu__item__click__item strong {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    text-decoration-line: underline;
}

.menu .submenu .submenu__item h2{
    text-decoration: none;
    color: whitesmoke;
    -webkit-text-stroke: 1px black;
    font-size: 4rem;
    font-style: italic;
    font-weight: bolder;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #a5a58d;
    border-radius: 20px;
}

.submenu__item__click {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Box sobre el sub menu */
.submenu__item__click__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: 1.6rem;
    color: #590d22;
    font-weight: bolder;
    background-color: #a5a58d;
    padding: 10px;
    border-radius: 10px 10px 30px 30px;
    margin-bottom: 10px;
    width: 95%;
}

.submenu__item__click__item:hover {
    cursor: pointer;
    background-color: #363131;
    color: whitesmoke;
    width: 110%;
    transition: all 500ms ease;
}

.submenu__item__click__item a{
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    color: #590d22;
    width: 100%;
    
}

.submenu__item__click__item a:hover{
    color: #04c2e4;
    padding: 10px;
    margin: -12px -8px -12px -8px;
    transition: all 300ms ease;
}

/* Control de iconos en Contacto */
.submenu__item__click__item img{
    width: 10%;
    margin: 0 5px;
}

